/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    @apply text-[#747bff] dark:text-[#535bf2];
  }
}

button {
  @apply cursor-pointer rounded-lg border border-solid border-transparent bg-[#f9f9f9] py-3 px-5 text-base
  font-medium dark:bg-[#1a1a1a];
  transition: border-color 0.25s;
  &:hover {
    @apply border-[#646cff];
  }
  &:focus,
  &:focus-visible {
    @apply outline-4;
  }
}

:root {
  @apply bg-white text-base font-normal text-[#213547] antialiased dark:bg-[#242424] dark:text-[#ffffffde];
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
